.jqx-rc-tl-redBlack1
{
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
/*top-right rounded Corners*/
.jqx-rc-tr-redBlack1
{
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
/*bottom-left rounded Corners*/
.jqx-rc-bl-redBlack1
{
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*bottom-right rounded Corners*/
.jqx-rc-br-redBlack1
{
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*top rounded Corners*/
.jqx-rc-t-redBlack1
{
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
/*bottom rounded Corners*/
.jqx-rc-b-redBlack1
{
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*right rounded Corners*/
.jqx-rc-r-redBlack1
{
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*left rounded Corners*/
.jqx-rc-l-redBlack1
{
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*all rounded Corners*/
.jqx-rc-all-redBlack1
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.jqx-widget-redBlack1 {
    color: inherit;
}
 .jqx-grid-selectionarea-redBlack1{background-color:#262626; border:1px solid #262626; opacity:0.5}
.jqx-grid-group-cell-redBlack1{border-color:#262626; background-color:#fff}
.jqx-grid-cell-sort-redBlack1, .jqx-grid-cell-filter-redBlack1, .jqx-grid-cell-pinned-redBlack1{ background-color:#eaf8ff}
.jqx-grid-cell-alt-redBlack1, .jqx-grid-cell-sort-alt-redBlack1, .jqx-grid-cell-filter-alt-redBlack1{ background-color:#deedf5}
.jqx-widget-redBlack1 .jqx-grid-cell-redBlack1{background: #000; border-color:#555}
.jqx-widget-redBlack1 .jqx-grid-group-cell-redBlack1{background-color: #000; border-color: #555;}
.jqx-widget-redBlack1 .jqx-grid-cell-selected-redBlack1{color:#fff !important}
.jqx-widget-redBlack1 .jqx-grid-cell-hover-redBlack1{color:#fff !important}
.jqx-widget-redBlack1{font-family:Tahoma,"Lucida Sans",Verdana,Helvetica,Arial,sans-serif; border-color:#222;}
.jqx-widget-content-redBlack1{font-family:Tahoma,"Lucida Sans",Verdana,Helvetica,Arial,sans-serif; color:#fff; border-color:#262626; background: #111;}
.jqx-fill-state-normal-redBlack1, .jqx-widget-header-redBlack1, .jqx-input-button-content-redBlack1{font-family:Tahoma,"Lucida Sans",Verdana,Helvetica,Arial,sans-serif; color:#fff; border-color:#000; background: #a4a4a4;
background: -moz-linear-gradient(top, #a4a4a4 0%, #757575 4%, #4f4f4f 37%, #464646 48%, #000000 52%, #000000 56%, #0c0c0c 67%, #1e1e1e 78%, #414141 96%, #666666 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4a4a4), color-stop(4%,#757575), color-stop(37%,#4f4f4f), color-stop(48%,#464646), color-stop(52%,#000000), color-stop(56%,#000000), color-stop(67%,#0c0c0c), color-stop(78%,#1e1e1e), color-stop(96%,#414141), color-stop(100%,#666666));
background: -webkit-linear-gradient(top, #a4a4a4 0%,#757575 4%,#4f4f4f 37%,#464646 48%,#000000 52%,#000000 56%,#0c0c0c 67%,#1e1e1e 78%,#414141 96%,#666666 100%);
background: -o-linear-gradient(top, #a4a4a4 0%,#757575 4%,#4f4f4f 37%,#464646 48%,#000000 52%,#000000 56%,#0c0c0c 67%,#1e1e1e 78%,#414141 96%,#666666 100%);
background: -ms-linear-gradient(top, #a4a4a4 0%,#757575 4%,#4f4f4f 37%,#464646 48%,#000000 52%,#000000 56%,#0c0c0c 67%,#1e1e1e 78%,#414141 96%,#666666 100%);
background: linear-gradient(top, #a4a4a4 0%,#757575 4%,#4f4f4f 37%,#464646 48%,#000000 52%,#000000 56%,#0c0c0c 67%,#1e1e1e 78%,#414141 96%,#666666 100%);}
.jqx-fill-state-hover-redBlack1, .jqx-input-button-header-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-hover-redBlack1{background: #f87948;
background: -moz-linear-gradient(top, #f87948 0%, #fb4e0b 4%, #f44501 11%, #e24000 19%, #983600 44%, #983600 48%, #5c2900 52%, #692b00 67%, #c23700 96%, #bd3800 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f87948), color-stop(4%,#fb4e0b), color-stop(11%,#f44501), color-stop(19%,#e24000), color-stop(44%,#983600), color-stop(48%,#983600), color-stop(52%,#5c2900), color-stop(67%,#692b00), color-stop(96%,#c23700), color-stop(100%,#bd3800));
background: -webkit-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: -o-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: -ms-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
 border-color:#262626; color:#fff}
.jqx-fill-state-pressed-redBlack1, .jqx-menu-item-top-hover-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-selected-redBlack1{background: #db4200;
background: -moz-linear-gradient(top, #db4200 0%, #902e00 4%, #7d2a01 19%, #531c03 44%, #531c03 48%, #0f0906 52%, #221105 63%, #2b1705 67%, #592903 89%, #642e02 96%, #902e00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db4200), color-stop(4%,#902e00), color-stop(19%,#7d2a01), color-stop(44%,#531c03), color-stop(48%,#531c03), color-stop(52%,#0f0906), color-stop(63%,#221105), color-stop(67%,#2b1705), color-stop(89%,#592903), color-stop(96%,#642e02), color-stop(100%,#902e00));
background: -webkit-linear-gradient(top, #db4200 0%,#902e00 4%,#7d2a01 19%,#531c03 44%,#531c03 48%,#0f0906 52%,#221105 63%,#2b1705 67%,#592903 89%,#642e02 96%,#902e00 100%);
background: -o-linear-gradient(top, #db4200 0%,#902e00 4%,#7d2a01 19%,#531c03 44%,#531c03 48%,#0f0906 52%,#221105 63%,#2b1705 67%,#592903 89%,#642e02 96%,#902e00 100%);
background: -ms-linear-gradient(top, #db4200 0%,#902e00 4%,#7d2a01 19%,#531c03 44%,#531c03 48%,#0f0906 52%,#221105 63%,#2b1705 67%,#592903 89%,#642e02 96%,#902e00 100%);
background: linear-gradient(top, #db4200 0%,#902e00 4%,#7d2a01 19%,#531c03 44%,#531c03 48%,#0f0906 52%,#221105 63%,#2b1705 67%,#592903 89%,#642e02 96%,#902e00 100%);
border-color:#262626; color:#fff}
.jqx-fill-state-disabled-redBlack1 {cursor: default; color: #fff; opacity: .55; filter:Alpha(Opacity=45);}

.jqx-checkbox-check-checked-redBlack1{background:transparent url(images/check_white.png) left top no-repeat}
.jqx-checkbox-check-indeterminate-redBlack1{background:transparent url(images/check_indeterminate_white.png) left top no-repeat}
.jqx-grid-redBlack1, .jqx-grid-header-redBlack1, .jqx-grid-cell-redBlack1{border-color:#262626}
.jqx-widget-redBlack1 .jqx-grid-column-menubutton-redBlack1, .jqx-widget-redBlack1 .jqx-grid-column-sortascbutton-redBlack1, .jqx-widget-redBlack1 .jqx-grid-column-sortdescbutton-redBlack1, .jqx-widget-redBlack1 .jqx-grid-column-filterbutton-redBlack1{border-color:#262626}
.jqx-widget-redBlack1 .jqx-grid-column-header-redBlack1{border-color:#262626}
.jqx-calendar-cell-today-redBlack1 {
    color: #35353A;
}
.jqx-grid-bottomright-redBlack1, .jqx-panel-bottomright-redBlack1, .jqx-listbox-bottomright-redBlack1{background-color:#262626}
.jqx-widget-redBlack1 .jqx-grid-column-menubutton-redBlack1, .jqx-menu-vertical-redBlack1{background-color:#262626; border-color:#262626}
.jqx-menu-vertical-redBlack1{background: #222; color:#fff;}
.jqx-scrollbar-state-normal-redBlack1{background:#111; border:1px solid #111}
.jqx-scrollbar-button-state-normal-redBlack1{border:1px solid #111; background:#111}
.jqx-scrollbar-button-state-hover-redBlack1{background: #f87948;
background: -moz-linear-gradient(top, #f87948 0%, #fb4e0b 4%, #f44501 11%, #e24000 19%, #983600 44%, #983600 48%, #5c2900 52%, #692b00 67%, #c23700 96%, #bd3800 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f87948), color-stop(4%,#fb4e0b), color-stop(11%,#f44501), color-stop(19%,#e24000), color-stop(44%,#983600), color-stop(48%,#983600), color-stop(52%,#5c2900), color-stop(67%,#692b00), color-stop(96%,#c23700), color-stop(100%,#bd3800));
background: -webkit-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: -o-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: -ms-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%); border:1px solid #000}
.jqx-scrollbar-button-state-pressed-redBlack1{background:#555 url(images/darkred_gradient.png) left top scroll repeat-x; border:1px solid #000}
.jqx-scrollbar-thumb-state-normal-horizontal-redBlack1{ background:#555; background-image:-webkit-gradient(linear,0 0,0 100%,from(#717171),to(#494949));  background-image:-moz-linear-gradient(top,#717171,#494949);  background-image:-o-linear-gradient(top,#717171,#494949);  border:1px solid #000}
.jqx-scrollbar-thumb-state-hover-horizontal-redBlack1{ background:#983600; background-image:-webkit-gradient(linear,0 0,0 100%,from(#fb4e0b),to(#983600));  background-image:-moz-linear-gradient(top,#fb4e0b,#983600);  background-image:-o-linear-gradient(top,#fb4e0b,#983600);  border:1px solid #000}
.jqx-scrollbar-thumb-state-pressed-horizontal-redBlack1{ background:#902e00; background-image:-webkit-gradient(linear,0 0,0 100%,from(#902e00),to(#531c03));    background-image:-moz-linear-gradient(top,#902e00,#531c03);    background-image:-o-linear-gradient(top,#902e00,#531c03); border:1px solid #000}
.jqx-scrollbar-thumb-state-normal-redBlack1{ background:#555; background-image:-webkit-gradient(linear,left top,right top,from(#717171),to(#494949));  background-image:-moz-linear-gradient(left,#717171,#494949);  background-image:-o-linear-gradient(left,#717171,#494949); border:1px solid #000;}
.jqx-scrollbar-thumb-state-hover-redBlack1{ background:#983600; background-image:-webkit-gradient(linear,left top,right top,from(#fb4e0b),to(#983600));  background-image:-moz-linear-gradient(left,#fb4e0b,#983600);  background-image:-o-linear-gradient(left,#fb4e0b,#983600); border:1px solid #000}
.jqx-scrollbar-thumb-state-pressed-redBlack1{ background:#902e00; background-image:-webkit-gradient(linear,left top,right top,from(#902e00),to(#531c03));    background-image:-moz-linear-gradient(left,#902e00,#531c03);    background-image:-o-linear-gradient(left,#902e00,#531c03); border:1px solid #000}

.jqx-splitter-splitbar-horizontal-redBlack1, .jqx-splitter-splitbar-vertical-redBlack1, .jqx-splitter-splitbar-hover-redBlack1, .jqx-splitter-splitbar-hover-horizontal-redBlack1{background: #555;}
.jqx-splitter-collapse-button-horizontal-redBlack1, .jqx-splitter-collapse-button-vertical-redBlack1{background: #7f7f7f;}
.jqx-grid-column-sortascbutton-redBlack1, .jqx-expander-arrow-bottom-redBlack1, .jqx-window-collapse-button-redBlack1, .jqx-menu-item-arrow-up-redBlack1, .jqx-menu-item-arrow-up-selected-redBlack1, .jqx-menu-item-arrow-top-up-redBlack1, .jqx-icon-arrow-up-redBlack1, .jqx-icon-arrow-up-hover-redBlack1, .jqx-icon-arrow-up-selected-redBlack1{background-image:url('images/icon-up-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-widget-redBlack1 .jqx-grid-group-expand-redBlack1, .jqx-grid-group-expand-redBlack1, .jqx-grid-column-menubutton-redBlack1, .jqx-grid-column-sortdescbutton-redBlack1, .jqx-expander-arrow-top-redBlack1, .jqx-window-collapse-button-collapsed-redBlack1, .jqx-menu-item-arrow-down-redBlack1, .jqx-menu-item-arrow-down-selected-redBlack1, .jqx-menu-item-arrow-down-redBlack1, .jqx-icon-arrow-down-redBlack1, .jqx-icon-arrow-down-hover-redBlack1, .jqx-icon-arrow-down-selected-redBlack1{background-image:url('images/icon-down-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-tabs-arrow-left-redBlack1, .jqx-menu-item-arrow-left-selected-redBlack1, .jqx-menu-item-arrow-top-left, .jqx-icon-arrow-left-redBlack1, .jqx-icon-arrow-down-left-redBlack1, .jqx-icon-arrow-left-selected-redBlack1{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-widget-redBlack1 .jqx-grid-group-collapse-redBlack1, .jqx-grid-group-collapse-redBlack1,.jqx-tabs-arrow-right-redBlack1, .jqx-menu-item-arrow-right-selected-redBlack1, .jqx-menu-item-arrow-top-right-redBlack1, .jqx-icon-arrow-right-redBlack1, .jqx-icon-arrow-right-hover-redBlack1, .jqx-icon-arrow-right-selected-redBlack1{background-image:url('images/icon-right-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-window-close-button-redBlack1, .jqx-icon-close-redBlack1, .jqx-tabs-close-button-redBlack1, .jqx-tabs-close-button-hover-redBlack1, .jqx-tabs-close-button-selected-redBlack1{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-tree-item-arrow-collapse-rtl-redBlack1, .jqx-tree-item-arrow-collapse-hover-rtl-redBlack1{background-image: url(images/icon-left.png);}
.jqx-listitem-state-group-redBlack1{background: #222;}
.jqx-calendar-cell-specialDate-redBlack1{border: 1px solid redBlack1;}
.jqx-tabs-selection-tracker-top-redBlack1, .jqx-tabs-selection-tracker-bottom-redBlack1{background-color: #000; border-color: #000;}
.jqx-widget-redBlack1 .jqx-grid-cell-sort-redBlack1,  .jqx-widget-redBlack1 .jqx-grid-cell-alt-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-filter-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-pinned-redBlack1{background-color:#333}
.jqx-listbox-feedback-redBlack1{ border-top: 1px dashed #ccc;}
.jqx-combobox-input-redBlack1, .jqx-combobox-content-redBlack1, .jqx-input-redBlack1, .jqx-input-content-redBlack1{background: #f7f7f7; color: #000;}
.jqx-widget-redBlack1, .jqx-widget-header-redBlack1, .jqx-widget-content-redBlack1{-webkit-background-clip: padding-box; background-clip: padding-box;}
.jqx-fill-state-focus-redBlack1 .jqx-widget-content{border-color: #000;}   
.jqx-radiobutton-check-checked-redBlack1{background: #fff;}
.jqx-icon-arrow-first-redBlack1
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-redBlack1
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-selected-redBlack1>.jqx-grid-group-expand-redBlack1,
.jqx-grid-cell-redBlack1.jqx-grid-cell-hover-redBlack1>.jqx-grid-group-expand-redBlack1 {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-selected-redBlack1>.jqx-grid-group-collapse-redBlack1,
.jqx-grid-cell-redBlack1.jqx-grid-cell-hover-redBlack1>.jqx-grid-group-collapse-redBlack1 {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-selected-redBlack1>.jqx-grid-group-collapse-rtl-redBlack1,
.jqx-grid-cell-redBlack1.jqx-grid-cell-hover-redBlack1>.jqx-grid-group-collapse-rtl-redBlack1 {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-selected-redBlack1>.jqx-grid-group-expand-rtl-redBlack1,
.jqx-grid-cell-redBlack1.jqx-grid-cell-hover-redBlack1>.jqx-grid-group-expand-rtl-redBlack1 {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-calendar-redBlack1, .jqx-icon-calendar-hover-redBlack1, .jqx-icon-calendar-pressed-redBlack1 {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-time-redBlack1, .jqx-icon-time-hover-redBlack1, .jqx-icon-time-pressed-redBlack1 {
    background-image: url('images/icon-time-white.png');
}

.jqx-icon-delete-redBlack1
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-redBlack1
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-redBlack1
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-redBlack1
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-redBlack1
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-redBlack1
{
    background-image: url(images/plus_white.png);
}
.jqx-menu-minimized-button-redBlack1 {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-editor-toolbar-icon-redBlack1 {
    background: url('images/html_editor_white.png') no-repeat;
}
.jqx-layout-redBlack1
{
    background-color: #000;
}
.jqx-layout-pseudo-window-pin-icon-redBlack1
{
    background-image: url("images/pin-white.png");
}
.jqx-layout-pseudo-window-pinned-icon-redBlack1
{
    background-image: url("images/pinned-white.png");
}
.jqx-scheduler-month-cell-redBlack1, .jqx-scheduler-time-column-redBlack1, .jqx-scheduler-toolbar-redBlack1
{
    background: #35353A !important;
    color: #fff  !important;
}
.jqx-widget-redBlack1 .jqx-scheduler-middle-cell-redBlack1, .jqx-scheduler-middle-cell-redBlack1 {
    border-bottom-color: #35353A !important;
}.jqx-widget-redBlack1
{
  font-family: Tahoma;
}
.jqx-widget-content-redBlack1
{
  color: #ffffff;
  text-shadow: none;
  border-color: #262626;
  background: #111111;
  font-family: Tahoma;
}
.jqx-widget-header-redBlack1, .jqx-grid-redBlack1 .jqx-widget-header-redBlack1
{
  color: #FFFCFC;
  text-shadow: none;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, #FC0202);
  background-image: -ms-linear-gradient(top, transparent, #FC0202);
  background-image: -o-linear-gradient(top, transparent, #FC0202);
  background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(#FC0202));
  background-image: -webkit-linear-gradient(top, transparent, #FC0202);
  background-image: linear-gradient(top, transparent, #FC0202);
  background-image: linear-gradient(to bottom, transparent, #FC0202);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Tahoma;
}
.jqx-grid-column-menubutton-redBlack1, .jqx-widget-redBlack1.jqx-grid-column-menubutton-redBlack1
{
}
.jqx-grid-cell-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-redBlack1
{
  background-color: #111111;
  color: #ffffff;
  text-shadow: none;
}
.jqx-fill-state-normal-redBlack1
{
  font-family: Tahoma;
}
.jqx-button-redBlack1
{
  font-family: Tahoma;
}
.jqx-grid-selectionarea-redBlack1
{
}
.jqx-widget-redBlack1 .jqx-grid-cell-sort-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-filter-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-pinned-redBlack1, .jqx-grid-cell-sort-redBlack1, .jqx-grid-cell-filter-redBlack1, .jqx-grid-cell-pinned-redBlack1
{
  background-color: #323232;
  color: #ffffff;
  text-shadow: none;
}
.jqx-widget-redBlack1 .jqx-grid-cell-alt-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-sort-alt-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-pinned-alt-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-filter-alt-redBlack1, .jqx-grid-cell-alt-redBlack1, .jqx-grid-cell-sort-alt-redBlack1, .jqx-grid-cell-filter-alt-redBlack1
{
  background-color: #323232;
  color: #ffffff;
  text-shadow: none;
}
.jqx-fill-state-hover-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-hover-redBlack1
{
  font-family: Tahoma;
}
.jqx-fill-state-pressed-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-selected-redBlack1
{
  font-family: Tahoma;
}
.jqx-switchbutton-label-on-redBlack1
{
}
.jqx-tabs-title-selected-top-redBlack1, .jqx-tabs-selection-tracker-top-redBlack1
{
  font-family: Tahoma;
}
.jqx-tabs-title-selected-bottom-redBlack1, .jqx-tabs-selection-tracker-bottom-redBlack1
{
  font-family: Tahoma;
}
.jqx-splitter-splitbar-hover-redBlack1
{
}
.jqx-splitter-splitbar-vertical-redBlack1, .jqx-splitter-splitbar-horizontal-redBlack1, .jqx-slider-track-horizontal-redBlack1, .jqx-slider-track-vertical-redBlack1
{
}
.jqx-splitter-collapse-button-horizontal-redBlack1, .jqx-splitter-collapse-button-vertical-redBlack1, .jqx-slider-rangebar-redBlack1
{
}
.jqx-scrollbar-state-normal-redBlack1
{
  background-color: #111111;
  border-color: #111111;
}
.jqx-grid-bottomright-redBlack1, .jqx-panel-bottomright-redBlack1, .jqx-listbox-bottomright-redBlack1
{
  background-color: #111111;
}
.jqx-scrollbar-thumb-state-normal-redBlack1
{
  background-color: #717171;
  background-color: #717171;
  background-image: -moz-linear-gradient(left, #717171, #494949);
  background-image: -ms-linear-gradient(left, #717171, #494949);
  background-image: -o-linear-gradient(left, #717171, #494949);
  background-image: -webkit-gradient(linear, left top, right top, from(#717171), to(#494949));
  background-image: -webkit-linear-gradient(left, #717171, #494949);
  background-image: linear-gradient(left, #717171, #494949);
  background-image: linear-gradient(left right, #717171, #494949);
}
.jqx-scrollbar-thumb-state-normal-horizontal-redBlack1
{
  background-color: #717171;
  background-color: #717171;
  background-image: -moz-linear-gradient(top, #717171, #494949);
  background-image: -ms-linear-gradient(top, #717171, #494949);
  background-image: -o-linear-gradient(top, #717171, #494949);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#717171), to(#494949));
  background-image: -webkit-linear-gradient(top, #717171, #494949);
  background-image: linear-gradient(top, #717171, #494949);
  background-image: linear-gradient(to bottom, #717171, #494949);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-redBlack1
{
  background-color: #fb4e0b;
  border-color: #fb4e0b;
  background-image: -moz-linear-gradient(left, #fb4e0b, #983600);
  background-image: -ms-linear-gradient(left, #fb4e0b, #983600);
  background-image: -o-linear-gradient(left, #fb4e0b, #983600);
  background-image: -webkit-gradient(linear, left top, right top, from(#fb4e0b), to(#983600));
  background-image: -webkit-linear-gradient(left, #fb4e0b, #983600);
  background-image: linear-gradient(left, #fb4e0b, #983600);
  background-image: linear-gradient(left right, #fb4e0b, #983600);
}
.jqx-scrollbar-thumb-state-hover-horizontal-redBlack1
{
  background-color: #fb4e0b;
  border-color: #fb4e0b;
  background-image: -moz-linear-gradient(top, #fb4e0b, #983600);
  background-image: -ms-linear-gradient(top, #fb4e0b, #983600);
  background-image: -o-linear-gradient(top, #fb4e0b, #983600);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fb4e0b), to(#983600));
  background-image: -webkit-linear-gradient(top, #fb4e0b, #983600);
  background-image: linear-gradient(top, #fb4e0b, #983600);
  background-image: linear-gradient(to bottom, #fb4e0b, #983600);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-redBlack1
{
  background-color: #902e00;
  border-color: #902e00;
  background-image: -moz-linear-gradient(left, #902e00, #531c03);
  background-image: -ms-linear-gradient(left, #902e00, #531c03);
  background-image: -o-linear-gradient(left, #902e00, #531c03);
  background-image: -webkit-gradient(linear, left top, right top, from(#902e00), to(#531c03));
  background-image: -webkit-linear-gradient(left, #902e00, #531c03);
  background-image: linear-gradient(left, #902e00, #531c03);
  background-image: linear-gradient(left right, #902e00, #531c03);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-redBlack1
{
  background-color: #902e00;
  border-color: #902e00;
  background-image: -moz-linear-gradient(top, #902e00, #531c03);
  background-image: -ms-linear-gradient(top, #902e00, #531c03);
  background-image: -o-linear-gradient(top, #902e00, #531c03);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#902e00), to(#531c03));
  background-image: -webkit-linear-gradient(top, #902e00, #531c03);
  background-image: linear-gradient(top, #902e00, #531c03);
  background-image: linear-gradient(to bottom, #902e00, #531c03);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-redBlack1
{
  background-color: #222222;
  background-image: -moz-linear-gradient(top, #222222, #222222);
  background-image: -ms-linear-gradient(top, #222222, #222222);
  background-image: -o-linear-gradient(top, #222222, #222222);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#222222), to(#222222));
  background-image: -webkit-linear-gradient(top, #222222, #222222);
  background-image: linear-gradient(top, #222222, #222222);
  background-image: linear-gradient(to bottom, #222222, #222222);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-redBlack1
{
  background-color: #fb4e0b;
  border-color: #000000;
  background-image: -moz-linear-gradient(top, #fb4e0b, #983600);
  background-image: -ms-linear-gradient(top, #fb4e0b, #983600);
  background-image: -o-linear-gradient(top, #fb4e0b, #983600);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fb4e0b), to(#983600));
  background-image: -webkit-linear-gradient(top, #fb4e0b, #983600);
  background-image: linear-gradient(top, #fb4e0b, #983600);
  background-image: linear-gradient(to bottom, #fb4e0b, #983600);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-redBlack1
{
  background-color: #902e00;
  border-color: #000000;
  background-image: -moz-linear-gradient(top, #902e00, #531c03);
  background-image: -ms-linear-gradient(top, #902e00, #531c03);
  background-image: -o-linear-gradient(top, #902e00, #531c03);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#902e00), to(#531c03));
  background-image: -webkit-linear-gradient(top, #902e00, #531c03);
  background-image: linear-gradient(top, #902e00, #531c03);
  background-image: linear-gradient(to bottom, #902e00, #531c03);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-redBlack1
{
  background: #ffffff;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-redBlack1
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px;
  border-radius-topleft: 5px;
}
.jqx-rc-tr-redBlack1
{
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  border-radius-topright: 5px;
}
.jqx-rc-bl-redBlack1
{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  border-radius-bottomleft: 5px;
}
.jqx-rc-br-redBlack1
{
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
  border-radius-bottomright: 5px;
}
.jqx-rc-t-redBlack1
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.jqx-rc-b-redBlack1
{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jqx-rc-r-redBlack1
{
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jqx-rc-l-redBlack1
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.jqx-radiobutton-default-redBlack1, .jqx-radiobutton-redBlack1, .jqx-radiobutton-check-checked-redBlack1, .jqx-radiobutton-hover-redBlack1, .jqx-radiobutton-check-indeterminate-redBlack1, .jqx-radiobutton-check-indeterminate-disabled-redBlack1, .jqx-slider-button-redBlack1
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-redBlack1, .jqx-tooltip-redBlack1, .jqx-tooltip-text-redBlack1, .jqx-tooltip-main-redBlack1
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.jqx-grid-column-sortascbutton-redBlack1, .jqx-expander-arrow-bottom-redBlack1, .jqx-window-collapse-button-redBlack1, .jqx-menu-item-arrow-up-redBlack1, .jqx-menu-item-arrow-top-up-redBlack1, .jqx-icon-arrow-up-redBlack1
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-arrow-up-hover-redBlack1
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-redBlack1, .jqx-icon-arrow-up-selected-redBlack1.jqx-expander-arrow-expanded-redBlack1
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-redBlack1, .jqx-grid-column-sortdescbutton-redBlack1, .jqx-expander-arrow-top-redBlack1, .jqx-window-collapse-button-collapsed-redBlack1, .jqx-menu-item-arrow-down-redBlack1, .jqx-menu-item-arrow-down-redBlack1, .jqx-tree-item-arrow-expand-redBlack1, .jqx-grid-group-expand-redBlack1, .jqx-widget-redBlack1 .jqx-grid-group-expand-redBlack1, .jqx-icon-arrow-down-redBlack1
{
  background-image: url('images/icon-down-white.png');
}
.jqx-icon-arrow-down-hover-redBlack1
{
  background-image: url('images/icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-redBlack1, .jqx-icon-arrow-down-selected-redBlack1
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-redBlack1, .jqx-menu-item-arrow-top-left-redBlack1, .jqx-grid-group-collapse-rtl-redBlack1, .jqx-widget-redBlack1 .jqx-grid-group-collapse-rtl-redBlack1, .jqx-icon-arrow-left-redBlack1, .jqx-icon-arrow-down-left-redBlack1
{
  background-image: url('images/icon-left-white.png');
}
.jqx-icon-arrow-left-hover-redBlack1
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-redBlack1
{
  background: #222222;
}
.jqx-menu-item-arrow-left-selected-redBlack1, .jqx-icon-arrow-left-selected-redBlack1
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-redBlack1, .jqx-menu-item-arrow-top-right-redBlack1, .jqx-menu-item-arrow-collapse-redBlack1, .jqx-grid-group-collapse-redBlack1, .jqx-widget-redBlack1 .jqx-grid-group-collapse-redBlack1, .jqx-icon-arrow-right-redBlack1
{
  background-image: url('images/icon-right-white.png');
}
.jqx-icon-arrow-right-hover-redBlack1
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-redBlack1, .jqx-icon-arrow-right-selected-redBlack1
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-redBlack1, .jqx-tabs-close-button-redBlack1, .icon-close-redBlack1
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-redBlack1
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-redBlack1
{
  background-image: url('images/close_white.png');
}
.jqx-widget-redBlack1 .jqx-grid-column-header-redBlack1, .jqx-widget-redBlack1 .jqx-grid-cell-redBlack1, .jqx-widget-redBlack1 .jqx-grid-group-cell-redBlack1, .jqx-grid-cell-redBlack1
{
  border-color: #262626;
}
.jqx-checkbox-check-checked-redBlack1
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-redBlack1
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-redBlack1, .jqx-tooltip-main-redBlack1
{
}
.jqx-combobox-content-redBlack1, .jqx-input-redBlack1
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background-color: #f7f7f7;
}
.jqx-combobox-input-redBlack1
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content-redBlack1
{
  color: #000000;
  text-shadow: none;
  background-color: #f7f7f7;
}
.jqx-fill-state-focus-redBlack1, .jqx-popup-redBlack1 .jqx-fill-state-focus-redBlack1
{
  border-color: #000000;
}
.jqx-popup-redBlack1.jqx-listbox-redBlack1, .jqx-popup-redBlack1.jqx-calendar-redBlack1,.jqx-menu-dropdown-redBlack1,  .jqx-popup-redBlack1.jqx-dropdownbutton-popup-redBlack1
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background-color: #f7f7f7;
}
.jqx-menu-item-arrow-right-redBlack1, .jqx-tree-item-arrow-collapse-redBlack1
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-redBlack1
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-redBlack1
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-up-redBlack1
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-left-redBlack1
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-right-redBlack1
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-bottom-redBlack1
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-up-hover-redBlack1
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-left-hover-redBlack1
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-right-hover-redBlack1
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-bottom-hover-redBlack1
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-up-selected-redBlack1
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-left-selected-redBlack1
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-right-selected-redBlack1
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-redBlack1 .jqx-icon-arrow-bottom-selected-redBlack1
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-calendar-redBlack1 .jqx-icon-arrow-up-redBlack1, .jqx-tabs-header-redBlack1 .jqx-icon-arrow-up-redBlack1
{
}
.jqx-calendar-redBlack1 .jqx-icon-arrow-left-redBlack1, .jqx-tabs-header-redBlack1 .jqx-icon-arrow-left-redBlack1
{
}
.jqx-calendar-redBlack1 .jqx-icon-arrow-right-redBlack1, .jqx-tabs-header-redBlack1 .jqx-icon-arrow-right-redBlack1
{
}
.jqx-calendar-redBlack1 .jqx-icon-arrow-bottom-redBlack1, .jqx-tabs-header-redBlack1 .jqx-icon-arrow-bottom-redBlack1
{
}
.jqx-widget-redBlack1 .jqx-grid-cell-redBlack1, .jqx-listitem-state-normal-redBlack1, .jqx-menu-item-normal-redBlack1, .jqx-tree-item-normal-redBlack1, .jqx-calendar-cell-redBlack1, .jqx-grid-cell-redBlack1,.jqx-menu-vertical-redBlack1 .jqx-menu-item-top-normal-redBlack1, .jqx-input-popup-redBlack1 .jqx-fill-state-normal-redBlack1
{
  font-family: Tahoma;
}
.jqx-widget-redBlack1 .jqx-grid-cell-hover-redBlack1, .jqx-listitem-state-hover-redBlack1, .jqx-menu-item-hover-redBlack1, .jqx-tree-item-hover-redBlack1, .jqx-calendar-cell-hover-redBlack1, .jqx-grid-cell-hover-redBlack1,.jqx-menu-vertical-redBlack1 .jqx-menu-item-top-hover-redBlack1, .jqx-input-popup-redBlack1 .jqx-fill-state-hover-redBlack1,.jqx-input-button-header-redBlack1, .jqx-input-popup-redBlack1 .jqx-fill-state-pressed-redBlack1,.jqx-input-button-header-redBlack1
{
  font-family: Tahoma;
}
.jqx-widget-redBlack1  .jqx-grid-cell-selected-redBlack1, .jqx-listitem-state-selected-redBlack1, .jqx-menu-item-selected-redBlack1, .jqx-tree-item-selected-redBlack1, .jqx-calendar-cell-selected-redBlack1, .jqx-grid-cell-selected-redBlack1,.jqx-menu-vertical-redBlack1 .jqx-menu-item-top-selected-redBlack1, .jqx-grid-selectionarea-redBlack1
{
  color: #ffffff !important;
  text-shadow: none;
  border-color: #262626 !important;
  background-color: #db4200 !important;
  background-image: -moz-linear-gradient(top, #db4200, #902e00) !important;
  background-image: -ms-linear-gradient(top, #db4200, #902e00) !important;
  background-image: -o-linear-gradient(top, #db4200, #902e00) !important;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#db4200), to(#902e00)) !important;
  background-image: -webkit-linear-gradient(top, #db4200, #902e00) !important;
  background-image: linear-gradient(top, #db4200, #902e00) !important;
  background-image: linear-gradient(to bottom, #db4200, #902e00) !important;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Tahoma;
}
.jqx-slider-rangebar-redBlack1
{
  background-color: #db4200 !important;
}
.jqx-progressbar-value-redBlack1
{
  background-color: #db4200 !important;
  background-image: -moz-linear-gradient(top, #db4200, #902e00) !important;
  background-image: -ms-linear-gradient(top, #db4200, #902e00) !important;
  background-image: -o-linear-gradient(top, #db4200, #902e00) !important;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#db4200), to(#902e00)) !important;
  background-image: -webkit-linear-gradient(top, #db4200, #902e00) !important;
  background-image: linear-gradient(top, #db4200, #902e00) !important;
  background-image: linear-gradient(to bottom, #db4200, #902e00) !important;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-progressbar-value-vertical-redBlack1
{
  background-color: #db4200 !important;
  background-image: -moz-linear-gradient(left, #db4200, #902e00) !important;
  background-image: -ms-linear-gradient(left, #db4200, #902e00) !important;
  background-image: -o-linear-gradient(left, #db4200, #902e00) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#db4200), to(#902e00)) !important;
  background-image: -webkit-linear-gradient(left, #db4200, #902e00) !important;
  background-image: linear-gradient(left, #db4200, #902e00) !important;
  background-image: linear-gradient(left right, #db4200, #902e00) !important;
}
.jqx-splitter-collapse-button-horizontal-redBlack1
{
  background-color: #db4200 !important;
}
.jqx-splitter-collapse-button-vertical-redBlack1
{
  background-color: #db4200 !important;
}
.jqx-icon-calendar-redBlack1
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-redBlack1
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-redBlack1
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-redBlack1
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-hover-redBlack1
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-selected-redBlack1
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-redBlack1
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-hover-redBlack1
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-selected-redBlack1
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-redBlack1>.jqx-grid-group-expand-redBlack1
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-hover-redBlack1>.jqx-grid-group-expand-redBlack1
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-selected-redBlack1>.jqx-grid-group-expand-redBlack1
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-redBlack1>.jqx-grid-group-collapse-redBlack1
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-hover-redBlack1>.jqx-grid-group-collapse-redBlack1
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-selected-redBlack1>.jqx-grid-group-collapse-redBlack1
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-redBlack1>.jqx-grid-group-expand-rtl-redBlack1
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-hover-redBlack1>.jqx-grid-group-expand-rtl-redBlack1
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-selected-redBlack1>.jqx-grid-group-expand-rtl-redBlack1
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-redBlack1>.jqx-grid-group-collapse-rtl-redBlack1
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-hover-redBlack1>.jqx-grid-group-collapse-rtl-redBlack1
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-redBlack1.jqx-grid-cell-selected-redBlack1>.jqx-grid-group-collapse-rtl-redBlack1
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-redBlack1, .jqx-grid-column-sortdescbutton-redBlack1
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-column-sortascbutton-redBlack1
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-icon-delete-redBlack1
{
  background-image: url('images/metro-icon-delete.png');
}
.jqx-icon-edit-redBlack1
{
  background-image: url('images/metro-icon-edit.png');
}
.jqx-icon-save-redBlack1
{
  background-image: url('images/metro-icon-save.png');
}
.jqx-icon-cancel-redBlack1
{
  background-image: url('images/metro-icon-cancel.png');
}
.jqx-icon-search-redBlack1
{
  background-image: url('images/metro-icon-search.png');
}
.jqx-icon-plus-redBlack1
{
  background-image: url('images/metro-icon-plus.png');
}
